<div class="background-container">
  <img id="moon" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/moon2.png" alt="">
  <div class="page-wrapper">
    <h1><strong>Itamar Pereira</strong></h1>
    <h2>"do what you love!"</h2>
  </div>
  <div class="stars"></div>
  <div class="twinkling"></div>
  <div class="clouds"></div>
</div>

<div class="container">
  <div class="card-big">
    <h1>Quem sou eu?</h1>
    <img src="<%= cl_image_path("https://res.cloudinary.com/dn2gpbtwl/image/upload/v1592485199/3yqpsxc9iaa53zbmx4jvt0mhactm.jpg") %>" height="50%" alt="Profile Picture">
    <p>Fullstack Programmer & Civil Engineer</p>
    <p>[Add description]</p>
    <a href="https://www.linkedin.com/in/itamar-gon%C3%A7alves-pereira-451aa3115/" class="btn btn-grad"> LinkedIn</a>
  </div>
</div>

<div class="cards">
  <% @projects.each do |project| %>
    <a href="<%= project.url %>"><div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= project_image_url(project) %>')">
      <h4><%= project.name %></h4>
      <p><%= project.description %></p>
    </div></a>
  <% end %>    
</div>